<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>
    <div class="container">
      <div class="col-xs-8 col-xs-offset-2">
        <h2 class="text-center">Nuevo Empleado</h2>
        <form method="post" role="form" action="/registerEmployeeUseCase">
          <div class="form-group">
            <label for="id">CI</label>
            <input name="id" type="text" class="form-control" placeholder="CI" required>
          </div>
          <div class="form-group">
            <label for="name">Nombre</label>
            <input name="name" type="text" class="form-control" placeholder="Nombre" required>
          </div>
          <div class="form-group">
            <label for="type">Tipo</label>
            <select name="type" class="form-control" id="exampleFormControlSelect1">
                <option value="H">Por hora</option>
                <option value="F">Fijo</option>
                <option value="C">Por comisión</option>
            </select>
          </div>
          <div class="form-group">
            <label for="isInLaborUnion">Está en el sidicato</label>
            <select name="isInLaborUnion" class="form-control" id="exampleFormControlSelect1">
              <option value="1">Si</option>
              <option value="0">No</option>
            </select>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Registrar</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>