<nav class="navbar navbar-light bg-light">
  <a class="btn btn-primary p-2" href="/registro-form">Listar empleados</a>
  <a class="btn btn-primary p-2" href="/registro-form">Generar boletas de pago</a>
  <a class="btn btn-primary p-2" href="/registro-form">Registrar empleado</a>
</nav>