<nav class="navbar navbar-light bg-light">
  <a class="btn btn-primary p-2" href="/">Listar empleados</a>
  <a class="btn btn-primary p-2" href="/employee_registration_form">Generar boletas de pago</a>
  <a class="btn btn-primary p-2" href="/employee_registration_form">Registrar empleado</a>
</nav>